body {
    margin: 0px;
    padding: 0px;
    background-image: url("background.jpg");
    background-size: cover;
    font-family: sans-serif;
   
}
h1 {
   margin: auto; 
text-align: center;
width: 100%;

}
.title {
    text-align: center;
    padding: 50px 0 20px; 

}
.title h1 {
    margin: 0px;
    padding: 0px;
    font-size: 36px; 
    text-transform: uppercase; 
    color: red;
    
}
   
button {
    background-color:pink;  
    color: white; 
    border: none; 
    padding: 14px 0px; 
    margin: auto;
    cursor: pointer;
    width: 40%; 
    display: flex; 
    justify-content: center; 
    
    

}
.cancelbutton {
    background-color: blue;
    width: 25%;
}
button :hover {
    opacity: 0.8; 
}
input[type=text], input[type=password] {
    width: 25%;
    padding: 14px 40px;
    margin: 10px 50px;
    display: inline-block;
    border: 1px solid rgb(114, 196, 250);
    box-sizing: border-box;
}
.container {
    background-color: rgb(128, 203, 247);
    width: 40%;
    justify-content: center;
    display: inline-block;
    margin: 20px;
    height: 10%;
}
.psw {
    color: red;
    float: right'
}